.app {
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
    "encabezado"
    "contenido"
    "rodapie";
    grid-template-columns: auto;                /* tamaño columnas */
    grid-template-rows: 50px 100vh auto;
}

.encabezado {
    grid-area: encabezado;                          /* indico el nombre del area */
}
.contenido {
    grid-area: contenido;
}

.rodapie { 
    grid-area: rodapie;
}