.headerPrincipal .container {
  display: flex;
  align-items: center;                  /* alinea al medio */
  justify-content: space-between;
}

.headerPrincipal-nav {
  display: flex;

}

.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  align-items: center;
  justify-content: space-around;    /* espacio alrededor */
  width: 75%;
  margin-right: 5%;
}

.rodapePrincipal-contatoForm {
  width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}

.rodapePrincipal-navMap-list {
  display: flex;
  flex-direction: column;
  height: 250px;      /* para que delimite lñas columnas a una altura especifica */
  flex-wrap: wrap;    /* cuando llega a 250p`x quiebra hacia la proxima columna */
}

.contenidoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;          /* para que salte de linea */
}

.contenidoPrincipal-cursos-link {
  display: flex;
  width: 23%;         /* porque quiero 4 elementos y estos seria el 100% */
}

.videoSobre .container {
  display: flex;
  justify-content: space-around;
}

/* responsive */

.headerPrincipal .container {
  flex-direction: column;
  align-items: initial;
  text-align: center;
}

.headerPrincipal-nav {
  flex-direction: column;
}